# see https://console.bluemix.net/docs/services/watson/getting-started-credentials.html#service-credentials-for-watson-services
LANGUAGE_TRANSLATOR_USERNAME=6d37bb3b-305a-429a-a6f1-583239754289
LANGUAGE_TRANSLATOR_PASSWORD=NBLGIANZkYAu
